html {
   box-sizing: border-box;
 }
 
 *,
 *::after,
 *::before {
   box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #222222;
 }

.container {
   max-width: 1410px;
   margin: 0 auto;
   padding: 0 25px;
}
/* HEADER */
.header {
   padding-top: 25px;
   background-image: 
   url("/img/vegitable.png"),
   url("/img/icons.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-color: #F0F5FB;
}

.header-top {
   display: flex;
   align-items: center;
   margin-bottom: 105px;
}

/* NAVBAR */
.nav__list {
   display: flex;
   padding: 0;
}

.nav__items {
   margin-right: 40px;
   list-style: none;
}

.nav__link {
   text-decoration: none;
   color: #222222;
   transition: color .3s ease;
}

.nav__link:hover,
.phone-number:hover {
   color:#FE5626;
}

/* LOGO */
.logo {
   margin: 0 auto;
   padding-right: 25px;
   display: flex;
}

.logo:active {
   opacity: 0.8;
}
/* DAILY */
.daily {
   margin-right: 90px;
   transition: color 0.3s ease;
}

.daily::before {
   position: absolute;
   content: ".";
   font-size: 40px;
   color: #46CB72;
   left: -14px;
   top: -12px;
}

.daily:hover {
   color: #46CB72;
}

/* PHONE NUMBER */

.phone-number {
   font-weight: bold;
   font-size: 18px;
   line-height: 22px;
   text-decoration: none;
   color: #222222;
   transition: color .3s ease;
}

.phone-number::before {
   position: absolute;
   content: "";
   width: 33px;
   height: 33px;
   left: -45px;
   bottom: -6px;
   border-radius: 50%;
   background: url(/img/phone.png), linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
   background-repeat: no-repeat;
   background-position: center center;
   box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
}

.nav,
.daily,
.phone-number {
   position: relative;
   top: 10px;
   white-space: nowrap;
}

/* HEADER TEXTS */

.header-text {
   width: 620px;
   margin: 0 auto;
   margin-bottom: 120px;
   text-align: center;
}

/* STOCKS */

.stock {
   position: relative;
   width: 200px;
   left: calc(50% + 340px);
   top: 56px;
   text-align: right;
   padding-bottom: 343px;
}

.special {
   position: relative;
   font-weight: bold;
   color:#F87848;
}

.stock::before {
   position: absolute;
   content: "";
   left: -180px;
   top: 20px;
   background-image: url("/img/line.svg");
   width: 141px;
   height: 41px;
}

.add-button {
   position: relative;
   width: 33px;
   height: 33px;
   left: 800px;
   bottom: 280px;
   border: none;
   border-radius: 50%;
   background-color: #fff;
   background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
   box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
   z-index: 5;
   color: #F87848;
}

.pizza {
   position: absolute;
   left: calc(50% - 370px);
   top: 310px;
}

/* SHOPPING BAG */
.shopping-bag {
   position: relative;
   width: 70px;
   height: 70px;
   margin-top: 80px;
   left: calc(50% + 700px);
   border-radius: 50%;
   border: none;
   background-color: rgb(255, 255, 255);
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   background: url("/img/shopping-bag.svg") no-repeat center center;
   background-size: 30px;
}

.shopping-bag::after {
   position: absolute;
   content: "2";
   width: 25px;
   height: 25px;
   bottom: -10px;
   right: 0;
   text-align: center;
   font-weight: 600;
   color: #fff;
   background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%), linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
   border-radius: 50%;
}

.popover{
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   top: -50px;
   left: calc(50% + 610px);
   width: 70px;
   height: 30px;
   border-radius: 3px;
   background-color: #222;
   color: #fff;
   font-weight: bold;
}

.popover::after {
   position: absolute;
   content: "";
   width: 0px;
   height: 0px;
   top: 5px;
   left: 67px;
   color: #fff;
   border-top: 10px solid transparent;
   border-left: 10px solid #222;
   border-bottom: 10px solid transparent;
}

.main {
   background-image: url(/img/stake.svg), url("/img/hold.png"), url("/img/tree.png");
   background-repeat: no-repeat;
   background-position: left 120px, right 250px, left bottom;
}
/* PRODUCTS */

.section-title {
   margin-bottom: 49px;
   font-weight: bold;
   font-size: 48px;
   line-height: 59px;
   text-align: center;
}

.product-categories {
   display: flex;
   justify-content: center;
   list-style: none;
   padding: 0;
   margin-bottom: 70px;
}

.category-item {
   margin-right: 30px;
}

.active {
   background: #59AAF1!important;
   color: #fff!important;
}

.category-link {
   padding: 16px 32px;
   background: #ECEEF6;
   border-radius: 45px; 
   text-decoration: none;
   color: #222;
}

/* PRODUCTS */

.products {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0;
   margin-bottom: 70px;
}

.product__link {
   text-decoration: none;
   color: #222;
}

.product {
   display: flex;
   position: relative;
   flex-direction: column;
   width: 310px;
   margin-bottom: 45px;
   padding: 36px 25px 45px 25px;
   border: 2px solid #ECEEF7;
   border-radius: 5%;
   background-color: #fff;
   list-style: none;
}

.product::after {
   position: absolute;
   width: 50px;
   height: 50px;
   content: "";
   border-radius: 0 0 25px 0;
   border-right: 2px solid #eceef7;
   border-bottom: 2px solid #eceef7;
   background-color: #FFF;
   transform: rotate(45deg);
   bottom: -27px;
   left: 128px;
   top: 463px;
   z-index: 1;
}
 
.product__photo {
   display: block;
   margin: 0 auto;
   margin-bottom: 30px;
   filter: drop-shadow(20px 10px 20px #8f5b205d);
}

.product-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
   margin-bottom: 10px;
}

.product__name {
   margin: 0;
   margin-right: 10px;
   font-weight: 600;
}

.product__size, 
.product__ingredients {
   font-size: 12px;
}

.product__size {
   margin: 0;
}

.product__ingredients {
   margin: 0;
   margin-bottom: 20px;
}

.product__price {
   display: block;
   font-weight: 300;
   font-size: 24px;
   text-align: center;
   color: #121146;
   margin-bottom: 40px;
}

.product__button {
   align-self: center;
   padding: 16px 16px;
   margin-bottom: -64px;
   border: 2px solid #eceef6;
   border-radius: 50%;
   background-color: #fff;
   background: url(/img/shop-bag.svg) no-repeat center 9px;
   z-index: 2;
}

.product:hover .product__button,
.selected {
   border-color: transparent;
   box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
   background: url(/img/shop-bag-white.svg) no-repeat center 9px, linear-gradient(
   287.74deg, #F58656 8.52%, #FE5626 92.72%), linear-gradient(
   180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
}

.xit {
   position: absolute;
   padding: 4px 20px;
   top: 15px;
   left: 18px;
   color: #fff;
   background: linear-gradient(116.88deg, #FE3326 -4.28%, #F26E0E 112.69%), #59AAF1;
   box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
   border-radius: 3px;
}

.more {
   display: block;
   margin: 0 auto; 
   width: 60px;
   height: 60px;
   border-radius: 50%;
   border: none;
   background: url("/img/refresh.png") no-repeat center center, linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
   box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
   margin-bottom: 100px;
}

/* GALLERY */

.gallery {
}

.gallery__item {
   background: url("/img/photos.png") cover no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 480px;
   height: 180px;
   padding: 20px;
   text-align: center;
   background: linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
   box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
   border-radius: 15px;

}
.gallery__link {
   padding: 55px;
   border: 2px solid rgba(255, 255, 255, 0.1);
   border-radius: 15px;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
   color: #FFFFFF;
   text-decoration: none;
   }