html {
   box-sizing: border-box;
 }
 
 *,
 *::after,
 *::before {
   box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #222222;
 }

.container {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 25px;
}
/* HEADER */
.header {
   padding-top: 25px;
   padding-bottom: 380px;
   background-image: 
   url("/img/vegitable.png"),
   url("/img/icons.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-color: #F0F5FB;
}

.header-top {
   display: flex;
   align-items: center;
   margin-bottom: 105px;
}

/* NAVBAR */
.nav__list {
   display: flex;
   padding: 0;
}

.nav__items {
   margin-right: 40px;
   list-style: none;
}

.nav__link {
   text-decoration: none;
   color: #222222;
   transition: color .3s ease;
}

.nav__link:hover,
.phone-number:hover {
   color:#FE5626;
}

/* LOGO */
.logo {
   margin: 0 auto;
   padding-right: 25px;
   display: flex;
}

.logo:active {
   opacity: 0.8;
}
/* DAILY */
.daily {
   margin-right: 90px;
}

.daily::before {
   position: absolute;
   content: ".";
   font-size: 40px;
   color: #46CB72;
   left: -14px;
   top: -12px;
}

/* PHONE NUMBER */

.phone-number {
   font-weight: bold;
   font-size: 18px;
   line-height: 22px;
   text-decoration: none;
   color: #222222;
   transition: color .3s ease;
}

.phone-number::before {
   position: absolute;
   content: "";
   width: 33px;
   height: 33px;
   left: -45px;
   bottom: -6px;
   border-radius: 50%;
   background: url(/img/phone.png), linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
   background-repeat: no-repeat;
   background-position: center center;
   box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
}

.nav,
.daily,
.phone-number {
   position: relative;
   top: 10px;
   white-space: nowrap;
}

/* HEADER TEXTS */

.header-text {
   width: 620px;
   margin: 0 auto;
   margin-bottom: 120px;
   text-align: center;
}

/* STOCKS */

.stock {
   position: relative;
   float: right;
   width: 200px;
   text-align: right;
   padding-bottom: 343px;
}

.special {
   position: relative;
   font-weight: bold;
   color:#F87848;
}

.stock::before {
   position: absolute;
   content: "";
   left: -180px;
   top: 20px;
   background-image: url("/img/line.svg");
   width: 141px;
   height: 41px;
}

.stock::after {
   content: "+";
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   left: -220px;
   top: 60px;
   width: 33px;
   height: 33px;
   font-size: 16px;
   color: #FE5626;
   background-color: #fff;
   background-position: center center;
   box-shadow: 0px 4px 8px rgba(205, 169, 41, 1);
   border-radius: 50%;
}

.pizza {
   position: absolute;
   left: calc(50% - 370px);
   top: 250px;
}

.shopping-bag {
   position: relative;
   width: 50px;
   height: 50px;
   margin-left: auto;
   margin-right: 100px;
   margin-top: 80px;
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   background: url("/img/shopping-bag.svg") no-repeat center center;
   background-size: 30px;
}

.popover{
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   float: right;
   width: 70px;
   height: 30px;
   top: -40px;
   right: 167px;
   border-radius: 3px;
   background-color: #222;
   color: #fff;
   font-weight: bold;
}

.popover::after {
   position: absolute;
   content: "";
   width: 0px;
   height: 0px;
   top: 5px;
   left: 67px;
   color: #fff;
   border-top: 10px solid transparent;
   border-left: 10px solid #222;
   border-bottom: 10px solid transparent;
}